{% extends 'JMDMCForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = jmdmc_forum.category.admin.list.layout_template %}

{%- block title -%}
	{{- 'title.admin.manage-categories.index' |trans({}, 'JMDMCForumBundle') -}}
{%- endblock title -%}

{%- block sidebar -%}
	{%- spaceless -%}
	{{- parent() -}}
    {%- include 'JMDMCForumBundle:Common:Layout/Sidebar/admin_forum.html.twig' -%}
	{%- endspaceless -%}
{%- endblock sidebar -%}

{%- block body_content -%}
	{%- spaceless -%}

		<section class="row btn-toolbar clearfix">
			<a class="btn btn-primary" href="{{- path('jmdmc_forum_admin_category_create', {'forum_filter': forum_filter}) -}}">
				{{- 'link.category.create' |trans({}, 'JMDMCForumBundle') -}}
			</a>
		</section>

		<section class="col-md-12 row clearfix">
			<div class="col-md-3 row">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						{{- 'filter.forums' |trans({}, 'JMDMCForumBundle') -}}
					</div>
					<div class="list-group">
						<a href="{{- path('jmdmc_forum_admin_category_list') -}}"
						 class="list-group-item ellipsis {%- if forum_filter is null or forum_filter == '' %} active {%- endif -%}">
							<i class="glyphicon glyphicon-exclamation-sign"></i>
							{{- 'link.unassigned' |trans({}, 'JMDMCForumBundle') -}}
						</a>
						{%- for forum in forums -%}
							<a href="{{- path('jmdmc_forum_admin_category_list', {'forum_filter': forum.id}) -}}" title="{{- forum.name -}}"
							 class="list-group-item ellipsis {%- if forum_filter == forum.id %} active {%- endif -%}">
								<span class="label pull-right">
									{{- forum.getCategories | length -}}
								</span>
								{{- forum.name -}}
							</a>
						{%- endfor -%}
					</div>
				</div>
			</div>

			<div class="col-md-9">
				<table class="table table-bordered" id="admin-categories-list">
					<thead>
						<tr>
							<th>{{- 'category.id-th' |trans({}, 'JMDMCForumBundle') -}}</th>
							<th>{{- 'category.name-th' |trans({}, 'JMDMCForumBundle') -}}</th>
							<th>{{- 'category.board-count-th' |trans({}, 'JMDMCForumBundle') -}}</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{%- for category_index, category in categories -%}
							<tr>
								<td>{{- category.id -}}</td>
								<td>{{- category.name -}}</td>
								<td>{{- category.boards |length -}}</td>
								<td>
									<a class="btn btn-default" href="{{- path('jmdmc_forum_admin_category_edit', {'categoryId': category.id, 'forum_filter': forum_filter}) -}}"
									 id="update_category[{{- category.name -}}]">
										{{- 'link.edit' |trans({}, 'JMDMCForumBundle') -}}
									</a>

									{%- if is_granted('ROLE_SUPER_ADMIN') -%}
										<a class="btn btn-danger" href="{{- path('jmdmc_forum_admin_category_delete', {'categoryId': category.id, 'forum_filter': forum_filter}) -}}"
										 id="delete_category[{{- category.name -}}]">
											{{- 'link.delete' |trans({}, 'JMDMCForumBundle') -}}
										</a>
									{%- endif -%}

									{%- if forum_filter is not null and forum_filter != '' %}
										{% if loop.length > 1 %}
											<div class="btn-group">
												<a class="btn btn-default" href="{{- path('jmdmc_forum_admin_category_reorder_up', {'categoryId': category.id, 'forum_filter': forum_filter}) -}}"
												 id="reorder_up_category[{{- category.name -}}]">
													{%- if loop.first -%}
														<i class="glyphicon glyphicon-retweet"></i>
													{%- else -%}
														<i class="glyphicon glyphicon-chevron-up"></i>
													{%- endif -%}
												</a>

												<a class="btn btn-default" href="{{- path('jmdmc_forum_admin_category_reorder_down', {'categoryId': category.id, 'forum_filter': forum_filter}) -}}"
												 id="reorder_down_category[{{- category.name -}}]">
													{%- if loop.last -%}
														<i class="glyphicon glyphicon-retweet"></i>
													{%- else -%}
														<i class="glyphicon glyphicon-chevron-down"></i>
													{%- endif -%}
												</a>
											</div>
										{%- endif -%}
									{%- endif -%}
								</td>
							</tr>
						{%- endfor -%}
					</tbody>
				</table>
			</div>
		</section>

	{%- endspaceless -%}
{%- endblock body_content -%}
