{%- spaceless -%}
	{%- if post.getCreatedBy -%}
		{{- post.getCreatedBy.username -}}
	{%- endif -%}
	<br />
	<span class="anchor-time" title="{{- post.getCreatedDate|date('Y-m-d H:i:s T Z') -}}">
		{{- post.getCreatedDate |ago -}}
	</span>
{%- endspaceless -%}
