{%- spaceless -%}

	{%- if post.isDeleted == false or is_granted('ROLE_MODERATOR') -%}
		{%- if post.getEditedDate -%}
		    <div class="panel panel-default">
				<div class="panel-heading">
					<i class="glyphicon glyphicon-pencil"></i>

			        {{- 'post.edited-by' |trans({}, 'JMDMCForumBundle') |raw -}}
					{{- post.getEditedBy -}}

					&nbsp;&#183;

					<abbr class="timestamper" title="{{- post.getEditedDate |date('Y-m-d H:i:s T Z') -}}">
			            {{- post.getEditedDate |date(jmdmc_forum.item_post.edited_datetime_format) -}}
			        </abbr>
				</div>
		    </div>
		{%- endif -%}
	{%- endif -%}

	{%- if post.isDeleted == true -%}
		<div class="panel panel-default">
			<div class="panel-heading">
		        <i class="glyphicon glyphicon-trash"></i>

		        {{- 'post.deleted-by' |trans({}, 'JMDMCForumBundle') |raw -}}
				{{- post.getDeletedBy -}}

				&nbsp;&#183;

		        <abbr class="timestamper" title="{{- post.getDeletedDate |date('Y-m-d H:i:s T Z') -}}">
		            {{- post.getDeletedDate |date(jmdmc_forum.item_post.deleted_datetime_format) -}}
		        </abbr>
			</div>

	        {%- if is_granted('ROLE_MODERATOR') -%}
				<div class="pull-right">
	                <a class="accordion-toggle" data-toggle="collapse" data-parent="#post_{{- post.getId() -}}" href="#post_{{- post.getId() -}}_body">
	                    {{- 'post.show' |trans({}, 'JMDMCForumBundle') -}}
	                </a>
				</div>
			{%- endif -%}
		</div>

		{%- if is_granted('ROLE_MODERATOR') -%}
			<section class="accordion-body collapse" id="post_{{- post.getId() -}}_body">
				{%- include 'JMDMCForumBundle:User:Post/Partial/body_content.html.twig' with {'post': post } -%}
			</section>
		{%- endif -%}
	{%- else -%}
		<section id="post_{{- post.getId() -}}_body">
			{%- include 'JMDMCForumBundle:User:Post/Partial/body_content.html.twig' with {'post': post } -%}
		</section>
	{%- endif -%}

{%- endspaceless -%}
