{%- spaceless -%}

	<ul class="nav nav-pills nav-stacked">

		{%- set route = app.request.attributes.get('_route') -%}

		{%- if is_granted('ROLE_SUPER_ADMIN') -%}
			{%- if route == 'jmdmc_forum_admin_forum_list'
				or route == 'jmdmc_forum_admin_forum_create'
				or route == 'jmdmc_forum_admin_forum_edit'
				or route == 'jmdmc_forum_admin_forum_delete'
			 -%}
				<li class="active">
					<a href="{{- path('jmdmc_forum_admin_forum_list') -}}">
						<i class="glyphicon glyphicon-list"></i>
			{%- else -%}
				<li>
					<a href="{{- path('jmdmc_forum_admin_forum_list') -}}">
						<i class="glyphicon glyphicon-list"></i>
			{%- endif -%}
						{{'crumbs.admin.manage-forums.index' |trans({}, 'JMDMCForumBundle')}}
					</a>
				</li>
		{%- endif -%}

		{%- if route == 'jmdmc_forum_admin_category_list'
			or route == 'jmdmc_forum_admin_category_create'
			or route == 'jmdmc_forum_admin_category_edit'
			or route == 'jmdmc_forum_admin_category_delete'
		 -%}
			<li class="active">
				<a href="{{- path('jmdmc_forum_admin_category_list') -}}">
					<i class="glyphicon glyphicon-list"></i>
		{%- else -%}
			<li>
				<a href="{{- path('jmdmc_forum_admin_category_list') -}}">
					<i class="glyphicon glyphicon-list"></i>
		{%- endif -%}
					{{'crumbs.admin.manage-categories.index' |trans({}, 'JMDMCForumBundle')}}
				</a>
			</li>

		{%- if route == 'jmdmc_forum_admin_board_list'
			or route == 'jmdmc_forum_admin_board_create'
			or route == 'jmdmc_forum_admin_board_edit'
			or route == 'jmdmc_forum_admin_board_delete'
		 -%}
			<li class="active">
				<a href="{{- path('jmdmc_forum_admin_board_list') -}}">
					<i class="glyphicon glyphicon-list"></i>
		{%- else -%}
			<li>
				<a href="{{- path('jmdmc_forum_admin_board_list') -}}">
					<i class="glyphicon glyphicon-list"></i>
		{%- endif -%}
					{{'crumbs.admin.manage-boards.index' |trans({}, 'JMDMCForumBundle')}}
				</a>
			</li>

	<ul>

{%- endspaceless -%}
