{% extends 'JMDMCForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = jmdmc_forum.board.user.show.layout_template %}

{%- block title -%}
	{{- 'title.board.show' | trans({'%board_name%': board.name}, 'JMDMCForumBundle') -}}
{%- endblock title -%}

{%- block sidebar -%}
	{%- spaceless -%}
	{{- parent() -}}
    {%- include 'JMDMCForumBundle:Common:Layout/Sidebar/user_forum.html.twig' -%}
	{%- endspaceless -%}
{%- endblock sidebar -%}

{%- block content_content -%}
    {%- spaceless -%}

	<section class="row btn-toolbar clearfix">
		{% set is_topic_create_disabled = board.isAuthorisedToCreateTopic(security) ? '': ' disabled' %}

		<a class="btn btn-danger{{ is_topic_create_disabled }}" rel="nofollow"
		   href="{{- path('jmdmc_forum_user_topic_create', {'forumName': forumName, 'boardId': board.getId }) -}}">
			<i class="fa fa-plus-square-o"></i>&nbsp;
			{{- 'link.topic.create' | trans({}, 'JMDMCForumBundle') -}}
		</a>
	</section>
	<br>
	<header class="row clearfix">
		<div class="col-md-6">
		    <span class="lead" title="{{- board.name -}}">{{- board.name -}}</span>
		</div>
		<div class="col-md-6 text-right">
		    <span class="label label-default" title="{{- board.cachedTopicCount -}}">
				{{- 'board.topic-count-label' |trans({}, 'JMDMCForumBundle') -}}
				{{- board.cachedTopicCount -}}
			</span>
			&nbsp;
		    <span class="label label-default" title="{{- board.cachedPostCount -}}">
				{{- 'board.post-count-label' |trans({}, 'JMDMCForumBundle') -}}
				{{- board.cachedPostCount -}}
			</span>
		</div>
	</header>

	{{- knp_pagination_render(pager) -}}

	<section class="clearfix">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="center" style="width: 18px;"></th>
                    <th class="center" style="width: 18px;"></th>
                    <th class="left"><small>{{- 'board.topic-th' | trans({}, 'JMDMCForumBundle') -}}</small></th>
                    <th class="center text-center" style="width: 80px;"><small>{{- 'board.reply-count-th' | trans({}, 'JMDMCForumBundle') -}}</small></th>
                    <th class="center text-center" style="width: 80px;"><small>{{- 'board.view-count-th' | trans({}, 'JMDMCForumBundle') -}}</small></th>
                    <th class="center text-center" style="width: 170px;"><small>{{- 'board.last-post-th' | trans({}, 'JMDMCForumBundle') -}}</small></th>
                </tr>
            </thead>
            <tbody>
			    {%- if sticky_topics is not empty -%}
					<tr>
						<td colspan="6" class="row-group-heading">
							{{- 'board.announcements-th' | trans({}, 'JMDMCForumBundle') -}}
						</td>
					</tr>

		            {%- for row, topic in sticky_topics -%}
		                {%- if not topic.isDeleted or is_granted('ROLE_MODERATOR') -%}
		                    {%- include 'JMDMCForumBundle:User:Board/Partial/item_topic_list.html.twig' -%}
		                {%- endif -%}
		            {%- endfor -%}

					<tr>
						<td colspan="6" class="row-group-heading">
							{{- 'board.topics-th' | trans({}, 'JMDMCForumBundle') -}}
						</td>
					</tr>
			    {%- endif -%}

		        {%- for row, topic in pager.getItems() -%}
		            {%- if not topic.isDeleted or is_granted('ROLE_MODERATOR') -%}
		                {%- include 'JMDMCForumBundle:User:Board/Partial/item_topic_list.html.twig' -%}
		            {%- endif -%}
		        {%- else -%}
		            <tr>
		                <td class="center" colspan="6">
		                    {{- 'board.no-topics' | trans({}, 'JMDMCForumBundle') -}}
		                </td>
		            </tr>
		        {%- endfor -%}
            </tbody>
        </table>
	</section>

	{{- knp_pagination_render(pager) -}}

    {%- endspaceless -%}
{%- endblock content_content -%}
