{% extends 'JMDMCForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = jmdmc_forum.topic.user.show.layout_template %}

{%- block title -%}
	{{- 'title.topic.show' | trans({'%topic_title%': topic.getTitle |capitalize}, 'JMDMCForumBundle') -}}
{%- endblock title -%}

{%- block sidebar -%}
	{%- spaceless -%}
	{{- parent() -}}
    {%- include 'JMDMCForumBundle:Common:Layout/Sidebar/user_forum.html.twig' -%}
	{%- endspaceless -%}
{%- endblock sidebar -%}

{%- block body_content -%}
    {%- spaceless -%}


	{%- include "JMDMCForumBundle:User:Topic/Partial/stat_vitals.html.twig" -%}
		<hr>
		<section class="row clearfix btn-toolbar">
			{%- include 'JMDMCForumBundle:User:Topic/Partial/topic_actions.html.twig' -%}
		</section>
		<br>
	{%- if topic.isDeleted or topic.isClosed or topic.isSticky -%}
		{%- include "JMDMCForumBundle:User:Topic/Partial/stat_mods.html.twig" -%}
	{%- endif -%}

	{{- knp_pagination_render(pager) -}}

	<section class="row clearfix">
	    {%- for key, post in pager.getItems() -%}
	        {%- include "JMDMCForumBundle:User:Post/Partial/item_post.html.twig" -%}
	    {%- endfor -%}
	</section>

	{{- knp_pagination_render(pager) -}}

		{% if is_granted('ROLE_USER') %}
    <section class="clearfix">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form, {novalidate: true, action: path('jmdmc_forum_user_topic_reply_process', {'forumName': forumName, 'topicId': topic.id } )}) }}
            <fieldset>
                {{- form_errors(form) -}}

                {{- form_widget(form) -}}

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <input type="submit" class="btn btn-primary" value="
                                {{- 'form.button.topic.reply' | trans({}, 'JMDMCForumBundle') -}}
                            " name="submit[post]" id="submit[post]">
                    </div>
                </div>

            </fieldset>
        </form>
    </section>
	{% endif %}

    {%- endspaceless -%}
{%- endblock body_content -%}
