{% extends LayoutTemplate %}

{% block stylesheets %}
    {{ parent() }}
	{% block stylesheets_extra %}
	{% endblock stylesheets_extra %}
{% endblock stylesheets %}

{% block javascripts %}
	{{ parent() }}
	{% block javascripts_extra %}
	{% endblock javascripts_extra %}
{% endblock javascripts %}

{% block tool_bar %}
	{%- spaceless -%}
		<style>
			.inline {
				display: inline;
			}
		</style>
		<header class="clearfix">
			<nav>

				<div class="container clearfix">
					<div class="row" style="padding:10px 0;">
						<div class="inline col-xs-11">
							{%- block crumb_trail -%}
								{%- if crumbs is defined -%}
									{%- include 'JMDMCForumBundle:Common:Layout/crumbs.html.twig' with {'crumbs': crumbs } -%}
								{%- endif -%}
							{%- endblock crumb_trail -%}
						</div>
						<div class="inline">
							{% block sub_title %}
								{%- include 'JMDMCForumBundle:Common:Layout/SubTitle/sub_title_default.html.twig' -%}
							{% endblock sub_title %}
						</div>
					</div>
				</div>

			</nav>
		</header>

	{%- endspaceless -%}
{% endblock tool_bar %}

{% block content_sidebar %}
	{%- spaceless -%}

    {{ parent() }}

	{%- endspaceless -%}
{% endblock %}

{% block content_content %}
	{%- spaceless -%}

    {%- include 'JMDMCForumBundle:Common:Layout/flashes.html.twig' -%}

	{%- block body_content -%}
	{%- endblock body_content -%}

	{%- block body_footer -%}
		<hr>

		{%- include 'JMDMCForumBundle:Common:Layout/footer.html.twig' -%}
	{%- endblock body_footer -%}

	{%- endspaceless -%}
{% endblock content_content %}
