{% extends 'JMDMCForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = jmdmc_forum.forum.admin.list.layout_template %}

{%- block title -%}
	{{- 'title.admin.manage-forums.index' |trans({}, 'JMDMCForumBundle') -}}
{%- endblock title -%}

{%- block sidebar -%}
	{%- spaceless -%}
	{{- parent() -}}
    {%- include 'JMDMCForumBundle:Common:Layout/Sidebar/admin_forum.html.twig' -%}
	{%- endspaceless -%}
{%- endblock sidebar -%}

{%- block body_content -%}
	{%- spaceless -%}

		<section class="row btn-toolbar clearfix">
			<a class="btn btn-primary" href="{{- path('jmdmc_forum_admin_forum_create') -}}">
				{{- 'link.forum.create' |trans({}, 'JMDMCForumBundle') -}}
			</a>
		</section>

		<section class="clearfix">
			<table class="table table-bordered" id="admin-forums-list">
				<thead>
					<tr>
						<th>{{- 'forum.id-th' |trans({}, 'JMDMCForumBundle') -}}</th>
						<th>{{- 'forum.name-th' |trans({}, 'JMDMCForumBundle') -}}</th>
						<th>{{- 'forum.category-count-th' |trans({}, 'JMDMCForumBundle') -}}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{%- for forum_index, forum in forums -%}
						<tr>
							<td>{{- forum.id -}}</td>
							<td>{{- forum.name -}}</td>
							<td>{{- forum.categories |length -}}</td>
							<td>
								<a class="btn btn-default" href="{{- path('jmdmc_forum_admin_forum_edit', {'forumId': forum.id}) -}}" id="update_forum[{{- forum.name -}}]">
									{{- 'link.edit' |trans({}, 'JMDMCForumBundle') -}}
								</a>

								{%- if is_granted('ROLE_SUPER_ADMIN') -%}
									<a class="btn btn-danger" href="{{- path('jmdmc_forum_admin_forum_delete', {'forumId': forum.id}) -}}" id="delete_forum[{{- forum.name -}}]">
										{{- 'link.delete' |trans({}, 'JMDMCForumBundle') -}}
									</a>
								{%- endif -%}
							</td>
						</tr>
					{%- endfor -%}
				</tbody>
			</table>
		</section>

	{%- endspaceless -%}
{%- endblock body_content -%}
