{% extends ':Layout:_base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'plugins/wysibb/theme/default/wbbtheme.css'
        'plugins/select2/css/select2.min.css'
        'plugins/select2_bootstrap/select2-bootstrap.min.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    {% javascripts
        'plugins/wysibb/*.min.js'
        'plugins/wysibb/lang/*.js'
        'plugins/select2/js/select2.full.min.js'
        'plugins/select2/js/i18n/ru.js'
        'bundles/tetranzselect2entity/js/select2entity.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function () {
            var wbbOpt = {
                lang: "ru",
                traceTextarea: true
            };
            $("textarea").wysibb(wbbOpt);
            $('input[type=submit]').click(function() {
                $("textarea").sync();
            });
            $.fn.select2documentAjax = function (action) {
                var action = action || {};
                var template = function (item) {
                    var img = item.img || null;
                    if (!img) {
                        if (item.element && item.element.dataset.img) {
                            img = item.element.dataset.img;
                        } else {
                            return item.text;
                        }
                    }
                    return $(
                            '<span><img src="' + img + '" class="img-thumbnail img-sm" style="height: 20px; width: 20px;"> ' + item.text + '</span>'
                    );
                };
                this.select2entity($.extend(action, {
                    templateResult: template,
                    templateSelection: template
                }));
                return this;
            };
            $('.select2document').select2documentAjax();
        })
    </script>
{% endblock foot_script %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row">
        <div class="col-md-6"><a href="{{ path('dialog_list') }}" class="btn btn-default">{{ 'dialog.form.cancel'|trans({}, 'dialog') }}</a></div>
        <div class="col-md-6 text-right"><input type="submit" class="btn btn-primary" value="{{ 'dialog.form.save'|trans({}, 'dialog') }}" /></div>
    </div>
    {{ form_end(form) }}
{% endblock content %}

{% block tetranz_select2document_widget_select_option %}
    <option value="{{ label.id }}" selected="selected"
            {% for key, data in label %}
        {% if key not in ['id', 'text'] %} data-{{ key }}="{{ data }}"{% endif %}
            {% endfor %}>
        {{ label.text }}
    </option>
{% endblock %}