{# error.html.twig #}
{% extends ':Layout:_base.html.twig' %}
{% use "WebfactoryExceptionsBundle:Exception:blocks.html.twig" with
    webfactory_exceptions_error_title as title,
    webfactory_exceptions_error_headline as stage_headline %}

{% block content %}
    {% set contactUrl = 'mailto:bednyj.mops@gmail.com' %}
    {{ block('webfactory_exceptions_standardExceptionPage') }}
{% endblock %}
