{%- spaceless -%}

	<li>
		<ul class="nav nav-pills nav-stacked">
			{% for subscribed_forum in subscribed_forums %}
				{%- if forum is not null -%}
					{%- if forumName == subscribed_forum['forum'].name -%}
						<li class="active">
							<a href="{{- path('jmdmc_forum_user_subscription_index', {'forumName': subscribed_forum['forum'].name}) -}}">
								<i class="glyphicon glyphicon-folder-open"></i>
					{%- else -%}
						<li>
							<a href="{{- path('jmdmc_forum_user_subscription_index', {'forumName': subscribed_forum['forum'].name}) -}}">
								<i class="glyphicon glyphicon-folder-close"></i>
					{%- endif -%}
				{%- else -%}
						<li>
							<a href="{{- path('jmdmc_forum_user_subscription_index', {'forumName': subscribed_forum['forum'].name}) -}}">
								<i class="glyphicon glyphicon-folder-close"></i>
				{%- endif -%}
								{{- subscribed_forum['forum'].name -}}

								<span class="badge">
									{{- subscribed_forum['count_unread'] -}}
									&nbsp;/&nbsp;
									{{- subscribed_forum['count_total'] -}}
								</span>
							</a>
						</li>
			{% endfor %}
		</ul>
	</li>

{%- endspaceless -%}
