{% extends 'JMDMCForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = jmdmc_forum.board.admin.delete.layout_template %}

{%- block title -%}
	{{- 'title.admin.manage-boards.delete' |trans({'%board_name%': board.name}, 'JMDMCForumBundle') -}}
{%- endblock title -%}

{%- block sidebar -%}
	{%- spaceless -%}
	{{- parent() -}}
    {%- include 'JMDMCForumBundle:Common:Layout/Sidebar/admin_forum.html.twig' -%}
	{%- endspaceless -%}
{%- endblock sidebar -%}

{%- block body_content -%}
    {%- spaceless -%}

	<section class="clearfix">
		{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
		{{ form_start(form, {novalidate: true, action: path('jmdmc_forum_admin_board_delete_process', {'boardId': board.id, 'forum_filter': forum_filter, 'category_filter': category_filter})}) }}
	        <fieldset>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<h4>
							{{- 'title.admin.manage-boards.delete' |trans({'%board_name%': board.name}, 'JMDMCForumBundle') -}}
						</h4>
					</div>
				</div>

				{{- form_errors(form) -}}

				{{- form_rest(form) -}}

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
		                <input type="submit" class="btn btn-danger" value="
							{{- 'form.button.confirm-delete' |trans({}, 'JMDMCForumBundle') -}}
						" name="submit[post]" id="submit[post]">

		                <a class="btn btn-default" href="{{- path('jmdmc_forum_admin_board_list', {'forum_filter': forum_filter, 'category_filter': category_filter}) -}}">
							{{- 'form.button.cancel' |trans({}, 'JMDMCForumBundle') -}}
						</a>
					</div>
	            </div>

	        </fieldset>
	    </form>
	</section>

    {%- endspaceless -%}
{%- endblock body_content -%}
