{% extends ':Layout:base.html.twig' %}

{% block title %}{{ title is defined ? title }}{% endblock %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'plugins/bootstrap/css/*.min.css'
        'plugins/font_awesome/css/font-awesome.min.css'
        'plugins/jquery_ui/themes/base/*.css'
        '../app/Resources/public/css/*.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
    <style>
        body .content {
            margin-top: 60px !important;
            margin-bottom: 60px !important;
        }
        .notification-icon {
            margin-right: 6.8775px;
        }
        .notification-icon:after {
            position: absolute;
            content: attr(data-count);
            margin-left: -6.8775px;
            margin-top: -6.8775px;
            padding: 0 4px;
            min-width: 13.755px;
            height: 13.755px;
            line-height: 13.755px;
            background: red;
            border-radius: 10px;
            color: #fff;
            text-align: center;
            vertical-align: middle;
            font-size: 11.004px;
            font-weight: 600;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    </style>
{% endblock %}

{% block foot_script %}
    {% javascripts
        'plugins/jquery/jquery.min.js'
        'plugins/jquery_ui/jquery-ui.min.js'
        'plugins/bootstrap/js/bootstrap.min.js'
        '../app/Resources/public/js/*.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock foot_script %}

{% block navbar %}
    {% embed ':Layout/Navbar:navbar.html.twig' with { fixedTop: true, inverse: true } %}
        {% block brand %}
            <a class="navbar-brand" href="{{ path('jmdmc_core_homepage') }}">{{ jmd_settings.get('brand') is not null ? jmd_settings.get('brand').value : 'default.brand'|trans }}</a>
        {% endblock %}

        {% block menu %}
            {{ knp_menu_render('JMDMCCoreBundle:Builder:mainMenu', {'currentClass': 'active', 'template': ':Layout/Menu:bootstrap3_top.html.twig'}) }}
            {% if not is_granted('ROLE_USER') %}
                {{ knp_menu_render('JMDMCCoreBundle:Builder:signInUpMenu', {'currentClass': 'active', 'template': ':Layout/Menu:bootstrap3_top.html.twig'}) }}
            {% else %}
                {{ knp_menu_render('JMDMCCoreBundle:Builder:loggedInMenu', {'currentClass': 'active', 'template': ':Layout/Menu:bootstrap3_top.html.twig'}) }}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock navbar %}

{% block container %}
    {% block container_div_start %}<div class="{% block container_class %}container{% endblock container_class %}">{% endblock container_div_start %}
    {% block header %}
    {% endblock header %}

    {% block content_div_start %}
        <div class="content">
    {% endblock content_div_start %}

        {% block flashes %}
            {{ parent() }}
        {% endblock flashes %}

        {% block content_row %}
            {{ parent() }}
        {% endblock content_row %}

    {% block content_div_end %}</div>{% endblock content_div_end %}

    {% block footer_tag_start %}
        <footer>
    {% endblock footer_tag_start %}

    {% block footer %}
        <div class="container">
            <div class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    {% block footer_content %}
                        <p class="navbar-text pull-left">© {{ 'NOW'|date('Y') }} - <a
                                    href="{{ jmd_settings.get('copyright_url').value }}"
                                    target="_blank">{{ jmd_settings.get('copyright_name').value }}</a>
                        </p>

                        <a href="https://gitlab.com/mops1k/JMDMCSystem" class="navbar-btn btn-link btn pull-right"
                           target="_blank"><span class="fa fa-gitlab"></span> GitLab</a>
                        <a href="http://rubukkit.org/threads/cms-dlja-minecraft.84007/" target="_blank"
                           class="navbar-btn btn-link btn pull-right">RuBukkit.org</a>
                    {% endblock footer_content %}
                </div>
            </div>
        </div>
    {% endblock footer %}

    {% block footer_tag_end %}
        </footer>
    {% endblock footer_tag_end %}
    {% block container_div_end %}</div><!-- /container -->{% endblock container_div_end %}

    {% block page_modals %}
        {% if not is_granted('ROLE_USER') %}
            {% embed ':Bootsrap:modal.html.twig' with {
            id: 'login'
            } %}
                {% block header %}
                    {{ 'site.authorization'|trans }}
                {% endblock header %}
                {% block body %}
                    <form action="{{ path('jmdmc_core_homepage') }}" method="post">

                    <div class="form-group">
                        <label for="username">{{ 'username'|trans({}, 'security') }}</label>
                        <input type="text" class="form-control" name="_username" id="username"
                               placeholder="{{ 'username'|trans({}, 'security') }}"
                               value="{{ app.request.get('_username') }}"/>
                    </div>

                    <div class="form-group">
                        <label for="password">{{ 'password'|trans({}, 'security') }}</label>
                        <input type="password" class="form-control" name="_password" id="password"
                               placeholder="{{ 'password'|trans({}, 'security') }}"/>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" name="_remember_me" id="remember_me"/>
                        <label for="remember_me">{{ 'remember_me'|trans({}, 'security') }}</label>
                    </div>

                    <div class="form-group">
                        <a href="{{ path('jmdmc_core_recover_password') }}">Восстановить пароль</a>
                    </div>

                {% endblock body %}
                {% block footer %}
                    <button class="btn btn-success" type="submit">{{ 'submit'|trans({}, 'security') }}</button>
                    </form>
                    {{ parent() }}
                {% endblock footer %}

            {% endembed %}
            {% embed ':Bootsrap:modal.html.twig' with {
            id: 'register'
            } %}
                {% block header %}
                    {{ 'site.registration'|trans }}
                {% endblock header %}
                {% block body %}
                    <form action="{{ path('jmdmc_core_registration_check') }}" method="post">
                    {{ render(controller('JMDMCCoreBundle:Default:registrationForm', { 'request': app.request })) }}
                {% endblock body %}
                {% block footer %}
                    <button class="btn btn-success"
                            type="submit">{{ 'registration.submit'|trans({}, 'security') }}</button>
                    </form>
                    {{ parent() }}
                {% endblock footer %}
            {% endembed %}
        {% endif %}
    {% endblock page_modals %}

{% endblock container %}
