{% set attr = attr|default({})|merge({ 'class': attr.class|default('') ~ ' modal fade' }) %}
<div{% for attrname, attrvalue in attr %} {{ attrname }}="{{- attrvalue -}}"{% endfor %} id="{{ id|default('modal')}}" role="{{ role|default('dialog') }}" aria-labelledby="{{ 'labelFor' ~ id|default('modal') }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {% if showClose|default(true) %}<button type="button" class="close" data-dismiss="modal" aria-label="{{ 'site.modal.close'|trans }}"><span
                            aria-hidden="true">&times;</span></button>{% endif %}
                <h4 class="modal-title" id="{{ 'labelFor' ~ id|default('modal') }}">{% block header %}{% endblock %}</h4>
            </div>
            <div class="modal-body">
                {% block body %}{% endblock %}
            </div>
            <div class="modal-footer">
                {% block footer %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'site.modal.close'|trans }}</button>
                {% endblock %}
            </div>
        </div>
    </div>
</div>