{% extends 'JMDMCForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = jmdmc_forum.post.user.delete.layout_template %}

{%- block title -%}
	{{- 'title.post.delete' |trans({'%post_id%': post.id}, 'JMDMCForumBundle') -}}
{%- endblock title -%}

{%- block sidebar -%}
	{%- spaceless -%}
	{{- parent() -}}
    {%- include 'JMDMCForumBundle:Common:Layout/Sidebar/user_forum.html.twig' -%}
	{%- endspaceless -%}
{%- endblock sidebar -%}

{%- block body_content -%}
	{%- spaceless -%}

	<section class="clearfix">
		{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
		{{ form_start(form, {novalidate: true, action: path('jmdmc_forum_user_post_delete_process', {'forumName': forumName, 'postId': post.id } )}) }}
	        <fieldset>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<h4>
							{{- 'title.post.delete' |trans({'%post_id%': post.id}, 'JMDMCForumBundle') -}}
						</h4>
					</div>
				</div>

				{{- form_errors(form) -}}

				{{- form_rest(form) -}}

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
		                <input type="submit" class="btn btn-primary" value="
							{{- 'form.button.post.delete' | trans({}, 'JMDMCForumBundle') -}}
						" name="submit[post]" id="submit[post]">

		                <a class="btn btn-default" href="{{- path('jmdmc_forum_user_topic_show', {'forumName': forumName, 'topicId': post.getTopic.getId}) -}}">
							{{- 'form.button.cancel' |trans({}, 'JMDMCForumBundle') -}}
						</a>
					</div>
	            </div>

	        </fieldset>
	    </form>
	</section>

	{%- endspaceless -%}
{%- endblock body_content -%}
