{% extends ':Layout:_base.html.twig' %}
{% import ':Layout:macros.html.twig' as helpers %}

{% block content %}
    <div class="page-header">
        <a href="{{ path('jmdmc_news_create') }}" class="btn btn-primary pull-right">{{ 'news.list.new'|trans({}, 'news') }}</a>
        <h3>{{ 'news.list.title'|trans({}, 'news') }} <small>| {{ 'news.list.total'|transchoice(news.totalItemCount, { '%count%': news.totalItemCount }, 'news') }}</small></h3>
    </div>

    {{ knp_pagination_render(news) }}

    <div class="row-fluid">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(news, 'news.list.name'|trans({}, 'news'), 'title') }}</th>
                <th>{{ knp_pagination_sortable(news, 'news.list.user'|trans({}, 'news'), 'user') }}</th>
                <th class="col-xs-2 text-center">{{ knp_pagination_sortable(news, 'news.list.created'|trans({}, 'news'), 'createdAt') }}</th>
                <th class="col-xs-2 text-center">{{ knp_pagination_sortable(news, 'news.list.updated'|trans({}, 'news'), 'updatedAt') }}</th>
                <th class="col-xs-1 text-center">{{ knp_pagination_sortable(news, 'news.list.status'|trans({}, 'news'), 'enabled') }}</th>
                <th class="col-xs-2 text-center"><i class="fa fa-cog"></i></th>
            </tr>
            </thead>
            <tbody>
            {% for item in news %}
                <tr>
                    <td><a href="{{ path('jmdmc_news_view', {'id': item.id}) }}">{{ item.title }}</a></td>
                    <td>{{ item.user.name }}</td>
                    <td class="text-center">{{ item.createdAt|date('d.m.Y H:i') }}</td>
                    <td class="text-center">{{ item.updatedAt|ago }}</td>
                    <td class="text-center">{{ item.enabled ? helpers.label('news.list.enabled'|trans({}, 'news'), 'success') : helpers.label('news.list.disabled'|trans({}, 'news'), 'danger') }}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            {% if is_granted('ROLE_MODERATOR') %}
                                <a href="{{ path('jmdmc_news_user_switch_status', {'id': item.id}) }}" class="btn btn-{{ item.enabled ? 'danger' : 'success' }}">
                                    <i class="fa fa-{{ item.enabled ? 'eye-slash' : 'eye' }}"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('ROLE_SUPER_ADMIN') or not item.enabled %}
                                <a href="{{ path('jmdmc_news_edit', {'id': item.id}) }}" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                                <a href="{{ path('jmdmc_news_remove', {'id': item.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ knp_pagination_render(news) }}
{% endblock content %}
