{% extends ':Layout:_base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="col-md-12">
        <h3>{{ news.title }}<br>
            <small>{{ 'news.author'|trans({}, 'news') }}: {{ news.user.name }}</small>
        </h3>
        <p>{{ news.fullContent|bbcode_filter('default_filter') }}</p>
        {% if news.createdAt < news.updatedAt %}
        <hr class="dashed">
        <small>{{ 'news.updated'|trans({}, 'news') }} {{ news.updatedAt|ago }}</small>
        {% endif %}
        <div>
            <span class="badge">{{ 'news.posted'|trans({}, 'news') }} {{ news.createdAt|ago }}</span>
            <div class="pull-right">
                {% for tag in news.tags %}
                    <a href="{{ path('jmdmc_news_list', { 'tag': tag }) }}">
                        <span class="label label-primary">{{ tag }}</span></a>
                {% endfor %}
            </div>
        </div>
        <hr />
        {% for comment in news.comments %}
            {% if (app.user is null) or (app.user is not null and not app.user.isInBlackList(comment.user)) %}
            <div class="row col-sm-12">
                <div class="panel panel-white post panel-shadow">
                    <div class="post-heading">
                        <div class="pull-left image">
                            {% if comment.user.avatar is not null %}
                                <img src="{{ asset(comment.user.avatar.path) }}" class="img-circle avatar">
                            {% else %}
                                <img src="{{ asset('img/default_ava.jpg') }}" class="img-circle avatar">
                            {% endif %}
                        </div>
                        <div class="pull-left meta">
                            <div class="title h5">
                                <a href="#"><b>{{ comment.user.name }}</b></a>
                            </div>
                            <h6 class="text-muted time">{{ comment.createdAt|ago }}</h6>
                        </div>
                    </div>
                    <div class="post-description">
                        <p>{{ comment.content|bbcode_filter('default_filter') }}</p>
                        {% if jmd_settings.get('show_sign', comment.user) %}
                            <hr class="dashed">
                            <small>
                                {{ comment.user.sign|bbcode_filter('default_filter') }}
                            </small>
                        {% endif %}
                        {% if is_granted('ROLE_MODERATOR') or comment.user == app.user %}
                            <div class="stats">
                                <a href="{{ path('jmdmc_news_comment_remove', {'id': comment.id}) }}"
                                   class="btn btn-danger"><i class="fa fa-trash"></i> {{ 'news.remove'|trans({}, 'news') }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        {% if is_granted('ROLE_USER') %}
            <hr />
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-group text-right">
                <button class="btn btn-success" type="submit">{{ 'news.form.submit'|trans({}, 'news') }}</button>
            </div>
            {{ form_end(form) }}
        {% endif %}
    </div>
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    {% javascripts
    'plugins/wysibb/*.min.js'
    'plugins/wysibb/lang/*.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function () {
            var wbbOpt = {
                lang: "ru",
                traceTextarea: true
            };
            $("textarea").each(function () {
                $(this).wysibb(wbbOpt);
            });
            $('[type=submit]').click(function () {
                $("textarea").each(function () {
                    $(this).sync();
                });
            });
        });
    </script>
{% endblock foot_script %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    'plugins/wysibb/theme/default/wbbtheme.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
    <style>
        hr.dashed {
            border: none;
            border-top: 1px dashed #acacac;
        }

        .panel-shadow {
            box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
        }

        .panel-white {
            border: 1px solid #dddddd;
        }

        .panel-white .panel-heading {
            color: #333;
            background-color: #fff;
            border-color: #ddd;
        }

        .panel-white .panel-footer {
            background-color: #fff;
            border-color: #ddd;
        }

        .post .post-heading {
            height: 95px;
            padding: 20px 15px;
        }

        .post .post-heading .avatar {
            width: 60px;
            height: 60px;
            display: block;
            margin-right: 15px;
        }

        .post .post-heading .meta .title {
            margin-bottom: 0;
        }

        .post .post-heading .meta .title a {
            color: black;
        }

        .post .post-heading .meta .title a:hover {
            color: #aaaaaa;
        }

        .post .post-heading .meta .time {
            margin-top: 8px;
            color: #999;
        }

        .post .post-image .image {
            width: 100%;
            height: auto;
        }

        .post .post-description {
            padding: 15px;
        }

        .post .post-description p {
            font-size: 14px;
        }

        .post .post-description .stats {
            margin-top: 20px;
        }

        .post .post-description .stats .stat-item {
            display: inline-block;
            margin-right: 15px;
        }

        .post .post-description .stats .stat-item .icon {
            margin-right: 8px;
        }

        .post .post-footer {
            border-top: 1px solid #ddd;
            padding: 15px;
        }

        .post .post-footer .input-group-addon a {
            color: #454545;
        }

        .post .post-footer .comments-list {
            padding: 0;
            margin-top: 20px;
            list-style-type: none;
        }

        .post .post-footer .comments-list .comment {
            display: block;
            width: 100%;
            margin: 20px 0;
        }

        .post .post-footer .comments-list .comment .avatar {
            width: 35px;
            height: 35px;
        }

        .post .post-footer .comments-list .comment .comment-heading {
            display: block;
            width: 100%;
        }

        .post .post-footer .comments-list .comment .comment-heading .user {
            font-size: 14px;
            font-weight: bold;
            display: inline;
            margin-top: 0;
            margin-right: 10px;
        }

        .post .post-footer .comments-list .comment .comment-heading .time {
            font-size: 12px;
            color: #aaa;
            margin-top: 0;
            display: inline;
        }

        .post .post-footer .comments-list .comment .comment-body {
            margin-left: 50px;
        }

        .post .post-footer .comments-list .comment > .comments-list {
            margin-left: 50px;
        }
    </style>
{% endblock head_style %}
