{%- spaceless -%}
	{%- if topic.getBoard -%}
		{%- if topic.getBoard.getCategory -%}
			{%- if topic.getBoard.getCategory.getForum -%}
				<tr>
					<td class="center">
						{%- if topic.isDeleted -%}
							<i class="glyphicon glyphicon-trash"></i>
						{%- else -%}
							{%- if topic.isClosed -%}
								<i class="glyphicon glyphicon-lock"></i>
							{%- else -%}
								{# else if not closed, then if new posts add special icon here #}
								{%- if topic.cachedReplyCount > 100 -%}
									<i class="glyphicon glyphicon-fire"></i>
								{%- endif -%}
							{%- endif -%}
						{%- endif -%}
					</td>
					<td class="center">
						{# use custom icons below, will be later specified in the create topic form #}
						<a href="{{- path('jmdmc_forum_user_topic_show', {'forumName': topic.board.category.forumName, 'topicId': topic.getId }) -}}">
							{%- if topic.isSticky -%}
								<i class="glyphicon glyphicon-bullhorn"></i>
							{%- else -%}
								<i class="glyphicon glyphicon-comment"></i>
							{%- endif -%}
						</a>
					</td>
					<td class="left">
						{%- if topic.getClosedDate -%}
							<span class="label label-danger">{{- 'topic.badge.closed' |trans({}, 'JMDMCForumBundle') -}}</span>&nbsp;
						{%- endif -%}

						<a href="{{- path('jmdmc_forum_user_topic_show', {'forumName': topic.board.category.forumName, 'topicId': topic.getId }) -}}" title="{{- topic.getTitle -}}">
							{{- topic.getTitle|capitalize -}}
						</a>

						<br>

						{%- if topic.getFirstPost -%}
							<small>
                                {{- 'post.posted-by' | trans({}, 'JMDMCForumBundle') |raw -}}
                                {{- topic.getFirstPost.getCreatedBy -}}

                                &nbsp;
                                (<a href="{{- path('jmdmc_forum_user_topic_show', {'forumName': topic.board.category.forumName, 'topicId': topic.getId }) -}}">
                                    <abbr class="timestamper"
                                          title="{{- topic.getFirstPost.getCreatedDate |date('Y-m-d H:i:s T Z') -}}">
                                        {{- topic.getFirstPost.getCreatedDate |date(jmdmc_forum.board.user.show.first_post_datetime_format) -}}
                                    </abbr>
                                </a>)
                            </small>
						{%- endif -%}
					</td>
					<td class="center">
						<span class="label label-info lead" title="{{- topic.getCachedReplyCount -}}">
							{{- topic.getCachedReplyCount -}}
						</span>
					</td>
					<td class="center">
						<span class="label label-info lead" title="{{- topic.getCachedViewCount -}}">
							{{- topic.getCachedViewCount -}}
						</span>
					</td>
					<td class="center">
						{%- if topic.getLastPost -%}

			                {{- 'post.posted-by' | trans({}, 'JMDMCForumBundle') |raw -}}
							{{- topic.getLastPost.getCreatedBy -}}

							<br>

							{#
								@TODO figure a way to determine page in a more appropriate way
				                {%- set page = divCeil((topic.getCachedReplyCount + 1), posts_per_page) -%}
							#}
							{%- set page = 1 -%}
							{%- if page < 2 -%}
								<a href="{{- path('jmdmc_forum_user_topic_show', {'forumName': topic.board.category.forumName, 'topicId': topic.getId } ) -}}#{{- topic.getLastPost.getId -}}">
									<i class="glyphicon glyphicon-arrow-right"></i>
									<abbr class="timestamper" title="{{- topic.getLastPost.getCreatedDate |date('Y-m-d H:i:s T Z') -}}">
										{{- topic.getLastPost.getCreatedDate |date(jmdmc_forum.board.user.show.last_post_datetime_format) -}}
									</abbr>
								</a>
							{%- else -%}
								<a href="{{- path('jmdmc_forum_user_topic_show', {'forumName': topic.board.category.forumName, 'topicId': topic.getId, 'page': page }) -}}#{{- topic.getLastPost.getId -}}">
									<i class="glyphicon glyphicon-arrow-right"></i>
									<abbr class="timestamper" title="{{- topic.getLastPost.getCreatedDate |date('Y-m-d H:i:s T Z') -}}">
										{{- topic.getLastPost.getCreatedDate |date(jmdmc_forum.board.user.show.last_post_datetime_format) -}}
									</abbr>
								</a>
							{%- endif -%}
						{%- endif -%}
					</td>
				</tr>
			{%- endif -%}
		{%- endif -%}
	{%- endif -%}
{%- endspaceless -%}
