{% extends 'JMDMCForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = jmdmc_forum.topic.moderator.change_board.layout_template %}

{%- block title -%}
	{{- 'title.topic.change_board' | trans({'%topic_title%': topic.getTitle }, 'JMDMCForumBundle') -}}
{%- endblock title -%}

{%- block sidebar -%}
	{%- spaceless -%}
	{{- parent() -}}
    {%- include 'JMDMCForumBundle:Common:Layout/Sidebar/user_forum.html.twig' -%}
	{%- endspaceless -%}
{%- endblock sidebar -%}

{%- block body_content -%}
	{%- spaceless -%}

	<section class="clearfix">
		{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
		{{ form_start(form, {novalidate: true, action: path('jmdmc_forum_moderator_topic_change_board_process', {'forumName': forumName, 'topicId': topic.getId} )}) }}
			<fieldset>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<h4>
							{{- 'title.topic.change_board' | trans({'%topic_title%': topic.getTitle }, 'JMDMCForumBundle') -}}
						</h4>
					</div>
				</div>

				{{- form_errors(form) -}}

				<div class="form-group">
					<label class="col-lg-2 control-label">
						{{- 'topic.label' |trans({}, 'JMDMCForumBundle') -}}
					</label>
					<div class="col-lg-10">
						<pre>
							{{- topic.getTitle -}}
						</pre>
					</div>
				</div>

				{{- form_widget(form) -}}

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<input type="submit" class="btn btn-danger" value="
							{{- 'form.button.topic.move' | trans({}, 'JMDMCForumBundle') -}}
						" name="submit[post]" id="submit[post]">

						<a class="btn btn-default" href="{{- path('jmdmc_forum_user_topic_show', {'topicId': topic.id}) -}}">
							{{- 'form.button.cancel' |trans({}, 'JMDMCForumBundle') -}}
						</a>
					</div>
				</div>

			</fieldset>
		</form>
	</section>

	{%- endspaceless -%}
{%- endblock body_content -%}
