{% extends ':UserProfile:profile_layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block tetranz_select2document_widget_select_option %}
    <option value="{{ label.id }}" selected="selected"
            {% for key, data in label %}
                {% if key not in ['id', 'text'] %} data-{{ key }}="{{ data }}"{% endif %}
            {% endfor %}>
        {{ label.text }}
    </option>
{% endblock %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    'plugins/select2/css/select2.min.css'
    'plugins/select2_bootstrap/select2-bootstrap.min.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    {% javascripts
        'plugins/select2/js/select2.full.min.js'
        'plugins/select2/js/i18n/ru.js'
        'bundles/tetranzselect2entity/js/select2entity.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function () {
            $.fn.select2documentAjax = function (action) {
                var action = action || {};
                var template = function (item) {
                    var img = item.img || null;
                    if (!img) {
                        if (item.element && item.element.dataset.img) {
                            img = item.element.dataset.img;
                        } else {
                            return item.text;
                        }
                    }
                    return $(
                            '<span><img src="' + img + '" class="img-thumbnail img-sm" style="height: 20px; width: 20px;"> ' + item.text + '</span>'
                    );
                };
                this.select2entity($.extend(action, {
                    templateResult: template,
                    templateSelection: template
                }));
                return this;
            };
            $('.select2document').select2documentAjax();
        })
    </script>
{% endblock foot_script %}

{% block profile_content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group text-right">
        <button class="btn btn-danger" type="submit">{{ 'user.blacklist.form.submit'|trans({}, 'profile') }}</button>
    </div>
    {{ form_end(form) }}
    <div class="row">
        {% if app.user.blacklist|length == 0 %}
        <div class="text-center">
            {{ 'user.blacklist.no_users'|trans({}, 'profile') }}
        </div>
        {% else %}
            <table class="table table-hover">
                <tbody>
                {% for user in app.user.blacklist %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td class="text-right">
                        <a href="{{ path('user_blacklist_unban', {'id': user.id}) }}" class="btn btn-success">
                            <span class="fa fa-trash"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock profile_content %}