{% extends ':Layout:_base.html.twig' %}

{% block headline %}
{{ 'user.profile'|trans({ '%username%': app.user.username }, 'profile') }}
{% endblock headline %}


{% block content %}
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    {% if app.user.avatar is not null %}
                    <img src="{{ asset(app.user.avatar.path) }}"
                         class="img-responsive" alt="">
                    {% else %}
                    <img src="{{ asset('img/default_ava.jpg') }}"
                         class="img-responsive" alt="">
                    {% endif %}
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{ app.user.name }}
                    </div>
                    <div class="profile-usertitle-job">
                        {{ app.user.email }}
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li{{ current == 'overview' ?  ' class="active"' }}>
                            <a href="{{ path('user_profile') }}">
                                <i class="glyphicon glyphicon-home"></i>
                                {{ 'user.profile.menu.overview'|trans({}, 'profile') }}</a>
                        </li>
                        <li{{ current == 'dialog' ?  ' class="active"' }}>
                            <a href="{{ path('dialog_list') }}">
                                <i class="fa fa-envelope-o"></i>
                                {{ 'user.profile.menu.dialog'|trans({}, 'profile') }}</a>
                        </li>
                        <li{{ current == 'blacklist' ?  ' class="active"' }}>
                            <a href="{{ path('user_blacklist') }}">
                                <i class="fa fa-user-times"></i>
                                {{ 'user.profile.menu.blacklist'|trans({}, 'profile') }}</a>
                        </li>
                        <li{{ current == 'info' ?  ' class="active"' }}>
                            <a href="{{ path('user_profile_info') }}">
                                <i class="fa fa-user"></i>
                                {{ 'user.profile.menu.info'|trans({}, 'profile') }}</a>
                        </li>
                        <li{{ current == 'avatar' ?  ' class="active"' }}>
                            <a href="{{ path('user_avatar') }}">
                                <i class="fa fa-image"></i>
                                {{ 'user.profile.menu.avatar'|trans({}, 'profile') }}</a>
                        </li>
                        <li{{ current == 'common' ?  ' class="active"' }}>
                            <a href="{{ path('user_common_settings') }}">
                                <i class="fa fa-gears"></i>
                                {{ 'user.profile.menu.common'|trans({}, 'profile') }}</a>
                        </li>
                        <li{{ current == 'password' ?  ' class="active"' }}>
                            <a href="{{ path('user_password') }}">
                                <i class="fa fa-key"></i>
                                {{ 'user.profile.menu.password'|trans({}, 'profile') }}</a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                {% block profile_content %}
                    
                {% endblock profile_content %}
            </div>
        </div>
    </div>
{% endblock content %}