{% extends ':UserProfile:profile_layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block profile_content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group text-right">
        <button type="submit" class="btn btn-success">{{ 'user.form.submit'|trans({}, 'profile') }}</button>
    </div>
    {{ form_end(form) }}
{% endblock profile_content %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'plugins/wysibb/theme/default/wbbtheme.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    {% javascripts
        'plugins/wysibb/*.min.js'
        'plugins/wysibb/lang/*.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function () {
            var wbbOpt = {
                lang: "ru",
                traceTextarea: true
            };
            $("textarea").wysibb(wbbOpt);
            $('[type=submit]').click(function () {
                $("textarea").sync();
            });
        });
    </script>
{% endblock foot_script %}
