{%- spaceless -%}

	{%- set route = app.request.attributes.get('_route') -%}

	<div class="btn-group" id="settings-accessor">
		{%- set route = app.request.attributes.get('_route') -%}

		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
			{%- if route|slice(0,16) == 'jmdmc_forum_admin' -%}
				{{- 'link.admin.index' |trans({}, 'JMDMCForumBundle') -}}
			{%- endif -%}

			{%- if route|slice(0,15) == 'jmdmc_forum_user' or route|slice(0,20) == 'jmdmc_forum_moderator' -%}
				{%- if route|slice(0,28) == 'jmdmc_forum_user_subscription' -%}
					{{- 'link.subscription.index' | trans({}, 'JMDMCForumBundle') -}}
				{%- else -%}
					{{- 'link.forum.index' |trans({}, 'JMDMCForumBundle') -}}
				{%- endif -%}
			{%- endif -%}

			{{ 'link.forum.move'|trans({}, 'JMDMCForumBundle') }}&nbsp;<span class="caret"></span>
		</button>

		<ul class="dropdown-menu section-indicator" role="menu">
			<li
				{%- if route|slice(0,15) == 'jmdmc_forum_user' and route|slice(0,28) != 'jmdmc_forum_user_subscription' or route|slice(0,20) == 'jmdmc_forum_moderator' %} class="selected"{%- endif -%}>
				<a href="{{- path('jmdmc_forum_user_category_index') -}}" rel="nofollow">
					{{- 'link.forum.index' |trans({}, 'JMDMCForumBundle') -}}
				</a>
			</li>

			{%- if is_granted('ROLE_USER') -%}
				<li{%- if route|slice(0,28) == 'jmdmc_forum_user_subscription' %} class="selected"{%- endif -%}>
						{%- if forum is defined and forum is not null -%}
							<a href="{{- path('jmdmc_forum_user_subscription_index', {'forumName': forum.name}) -}}" rel="nofollow">
						{%- else -%}
							<a href="{{- path('jmdmc_forum_user_subscription_index', {'forumName': 'default'}) -}}" rel="nofollow">
						{%- endif -%}

						{{- 'link.subscription.index' | trans({}, 'JMDMCForumBundle') -}}
					</a>
				</li>
			{%- endif -%}

		</ul>

	</div>

{%- endspaceless -%}
